#app {
    display: flex;
    min-height: 100vh;
}
#main-sidebar {
    display: flex;
    width: 90px;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 4px 9px -3px rgba(255, 61, 0, 0.4);
    height: 100vh;
    position: fixed;
}
#main {
    flex-grow: 1;
    margin-left: 90px;
}
#main-sidebar .languages ul {
    list-style: none;
}
#main-sidebar .languages ul li {
    transform: rotate(270deg);
    margin-bottom: 1rem;
    text-align: center;
    position: relative
}
#main-sidebar .languages ul li.active  a {
    color: #FF3D00
} 
#main-sidebar .languages ul li.active:before {
    content: '';
    position: absolute;
    top: -2.1rem;
    width: 100%;
    height: 5px;
    left: 0;
    background-color: #FF3D00;
} 
#main-navbar {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
#main-sidebar {
    padding: 2rem;
}
#main-sidebar .food-icon img {
    width: 28px;
}
.menu {
    display: flex;
    list-style: none;
}
.menu .menu-item {
    margin: 0 2rem;
    font-size: 22px;
    font-weight: 500;
    position: relative
}
.menu .menu-item:first-child {
    margin-left: 0;
}
.menu .menu-item:not(.active):not(:first-child) a {
    color: #828282
}
.menu .menu-item:first-child:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: #FF3D00;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}
#hero {
    margin-top: 3.5rem;
}
#hero .hero-text {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 2rem;
}
#hero .hero-description {
    line-height: 1.4rem;
    letter-spacing: 1px;
    font-size: 1.1rem;
}
#hero .btn {
    margin-top: 2rem;
}
#hero .hero-right {
    position: relative;
}

#hero .hero-right img {
    width: 120%;
    position: absolute;
    right: 0rem;
    z-index: 4;
    top: -5rem;
}
#bg {
    background-color: #FF3D00;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36%;
    z-index: 3;
}
#hero .most-loved {
    font-size: 1.2rem;
    margin-top: 5rem;
}
#hero .most-loved h3 {
    margin-bottom: 2rem;
}
#hero .most-loved img {
    width: 100%;
    border-radius: 5px;
    height: 90px;
}
#hero h3 {
    color: #4F4F4F;
}
#hero .most-loved .product-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: .5rem;
}
#hero .most-loved .product-price {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 1rem;
    color: #FF3D00
}
.single {
    margin-top: 3rem;
}
.single .product-image  img { 
    width: 100%;
    height: 320px;
    border-radius: 1rem;
    box-shadow: 10px 0 25px #aaa;
}
.single .product-details {
    padding-left: 1rem;
}
    
.single .product-name {
    font-size: 4rem;
    color: #333
}
.single .product-excerpt {
    font-size: 1.2rem;
    color: #828282
}
.single .product-price {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}
.single .product-price span {
    margin-left: .4rem;
    color: #888;
}
.single .ratings {
    display: flex;
}
.single .ratings .stars i {
    color: rgb(255, 208, 0)
}
.single .ratings .review-count {
    color: #888;
    margin-left: .3rem;
    font-size: .8rem;
}
.single .product-price h1 {
    font-size: 3rem;
    color: #ec4816
}
@media screen and (max-width: 1199px) {
    #bg, .hero-right {
        display: none;
    }
}